.square {
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.2);

  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
}
.x {
  color: black;
}
.y {
  color: white;
}
.hint {
  display: none;
  opacity: 0.6;
}
.square:hover .hint {
  display: block;
  color: black;
}

@media (max-width: 1200px) {
  .square:hover .hint {
    display: none;
    color: black;
  }
}
